@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
/* ===================================
    Reset
====================================== */
body{color:#5a5f69; font-size: 14px; line-height: 24px; font-weight: 500; background-color: #f5f6fa; font-family: 'Roboto', sans-serif;}
.carousel-inner {overflow: hidden}
.navbar {margin-bottom: 0}
ul{margin: 0; padding: 0; list-style-type:none}
a:hover{text-decoration: none; color: #ff007e}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{margin: 0}
p{margin-bottom: 0;}
a{text-decoration: none; color: #8d97ad}
figure{margin: 0}
/* ===================================
    Typography
====================================== */
.robot_font{font-family: 'Roboto', sans-serif;}
.bangers_font {font-family: 'Bangers', cursive;}
.w-100{
    width: 100%;
}
.padding_top_200{
    padding-top: 50px;
}
.padding_top_30 {
    padding-top: 30px;
}
.padding_bottom_60 {
    padding-bottom: 60px;
}
.padding_top_60 {
    padding-top: 60px;
}
.padding_top_35 {
    padding-top: 35px;
}
.padding_bottom_45 {
    padding-bottom: 45px;
}
.padding_top_170 {
    padding-top: 170px;
}
/*font*/
.font_weight_500 {
    font-weight: 500;
}
.font_size_18 {
    font-size: 18px;
}
.margin_bottom_50 {
    margin-bottom: 50px;
}

/*font end*/
/* headding & paragraph*/
.line_height_48 {
    line-height: 48px;
}
.font_size_36 {
    font-size: 36px;
}
.color_222 {
    color: #222;
}
.margin_bottom_20 {
    margin-bottom: 20px;
}
.margin_bottom_50 {
    margin-bottom: 50px;
}
/* headding & paragraph end*/
img {
    vertical-align: middle;
    border-style: none;
}

/* ===================================
    top option
====================================== */
.default_logo img{width: 120px}
.right_nav_links li{display: inline-block; padding: 0 15px}
.right_nav_links li a{display: inline-block; margin-top: 10px; margin-left: 10px}
.right_nav_links li:first-child{padding-left: 0}
.right_nav_links li:last-child{padding-right: 0}
.top_navigation{padding: 40px 100px 0}
.top_navigation .navbar-nav li a{font-size: 16px; font-weight: 500; color: #5a5f69; font-family: 'Roboto', sans-serif; margin: 0 15px}
.top_navigation .navbar-nav li:first-child a{margin-left: 0}
.top_navigation .navbar-nav li:last-child a{margin-right: 0}

.navigation_bar{margin-left: 6%}
.bg_social_icon{width: 40px; height: 40px; border-radius: 100%; background: #1633ff; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #1633ff 0%, #ff007e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #1633ff 0%, #ff007e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #1633ff 0%, #ff007e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */; display: table}
.bg_social_icon i{display: table-cell; vertical-align: middle; text-align: center; font-size: 18px; color: #fff}
.top_navigation .dropdown .hosting_dropdown a{margin: 0}
.dropdown .hosting_dropdown{width: auto; border: none; left: 0}
.hosting_dropdown a.dropdown-item{padding: 15px !important; border-radius: 6px; float: left; transition: all ease-in-out 0.5s}

.menu_content{width: 100%; float: left; text-align: left; font-size: 14px; font-weight: 400; color: #777}
.hosting_dropdown a span{display: block}
.top_navigation .navbar-nav .whmcs_dropdown > a, .top_navigation .navbar-nav .company_dropdown > a{margin:0}

.menu_navigation .inner_menu_navigation .menu_navigation_list li.dropdown .dropdown-menu a{padding: 15px; margin-bottom: 5px; text-transform: capitalize}
.menu_navigation .inner_menu_navigation .menu_navigation_list li.dropdown .dropdown-menu a:last-child{margin-bottom: 0}
.menu_navigation .inner_menu_navigation .menu_navigation_list li.dropdown .dropdown-menu a:hover{background-color: #ff4800; color: #fff}

/*Mega Menu*/
.mega_menu_box{width: 20%; float: left}
.outer_mega_menu{position: inherit}
.menu_navigation_list li.dropdown:hover .mega_menu{width: 1170px; margin: 0 auto; left: 0; right: 0}
.inner_mega_menu_box{width: 100%; padding: 40px 50px; float: left}

.mega_menu_box_heading{font-size: 16px; line-height: 24px; font-weight: 500; color: #222; margin-bottom: 15px}
.margin_mega_menu{margin-bottom: 20px}
.mega_menu .mega_menu_box .list_mega_menu_box > li{position: relative; padding-left: 15px; list-style: none}
.mega_menu .mega_menu_box .list_mega_menu_box > li:before{position: absolute; content: ""; width: 6px; height: 6px; border-radius: 100%; background-color: #3f51b5; left: 0; top: 10px}
.mega_menu .mega_menu_box .list_mega_menu_box > li > a{font-size: 12px; line-height: 24px; color: #3f51b5; text-transform: capitalize; padding: 10px 0 !important;}
.mega_menu .mega_menu_box .list_mega_menu_box > li > a:hover{color: #ff007e}
.menu_navigation .inner_menu_navigation .menu_navigation_list li.dropdown .mega_menu a:hover{color: #ff4800; background-color: transparent}
.badge{margin-left: 5px}
.badge-success{background-color: #009688}
.badge-primary{background-color: #1cc1ff}

.default_dd_menu{top: 40px !important; border-radius: 4px !important; padding:  10px 0 !important; box-shadow: 0 12px 15px rgba(0,0,0,.10)}
.whmcs_dropdown{top: 38px !important; padding:  10px 0 !important; box-shadow: 0 12px 15px rgba(0,0,0,.10); border: none !important; left: 5px}
.navigation_bar .default_dd_menu a{padding:5px 20px !important; transition: all ease-in-out 0.3s; font-weight: 400 !important; font-size: 14px !important;}
.navigation_bar .whmcs_dropdown a{padding: 5px 20px !important; transition: all ease-in-out 0.3s; font-weight: 400 !important; font-size: 14px !important;}
.navigation_bar .default_dd_menu a:hover, .navigation_bar .whmcs_dropdown a:hover{background-color: transparent !important; transform: none !important; box-shadow: none !important;}

.default_mega_menu{top: 78px !important; border-radius: 4px !important; box-shadow: 0 12px 15px rgba(0,0,0,.10)}

.top_navigation {
    padding: 40px 100px 0;
}
.navbar {
    margin-bottom: 0;
}
.navigation_bar {
    margin-left: 6%;
}
.right_nav_links li:first-child {
    padding-left: 0;
}
.top_navigation .navbar-nav li:first-child a {
    margin-left: 0;
}
.top_navigation .navbar-nav li a {
    font-size: 16px;
    font-weight: 500;
    color: #5a5f69;
    font-family: 'Roboto', sans-serif;
    margin: 0 15px;
    margin-left: 15px;
}
.top_navigation .navbar-nav li a:hover {
    color: #ff007e;
}
/* search*/
.right_nav_links li {
    display: inline-block;
    padding: 0 15px;
    padding-left: 15px;
}
.bg_social_icon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #1633ff;
    background: -moz-linear-gradient(-45deg, #1633ff 0%, #ff007e 100%);
    background: -webkit-linear-gradient(-45deg, #1633ff 0%, #ff007e 100%);
    background: linear-gradient(135deg, #1633ff 0%, #ff007e 100%);
    display: table;
}
.bg_social_icon i {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
    color: #fff;
}
.right_nav_links li a {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}
.hero_banner-inner {
margin-right: auto;
margin-left: auto;
}
.hero_banner_indicators {
    bottom: -120px;
    right: auto;
    left: -165px;
}
.banner_content_box h1 {
    font-size: 40px;
    line-height: 40px;
    color: rgb(85, 85, 85);
    font-weight: 600;
    margin-bottom: 20px;
}
.banner_content_box p {

    font-size: 16px;
    line-height: 24px;
    color: rgb(139, 138, 138);
    font-weight: 300;
    margin-bottom: 40px;

}

.hero_banner_btn {

    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    background: #1633ff;
    background: -moz-linear-gradient(-45deg, #1633ff 0%, #ff007e 100%);
    background: -webkit-linear-gradient(-45deg, #1633ff 0%, #ff007e 100%);
    background: linear-gradient(135deg, #1633ff 0%, #ff007e 100%);
    border-radius: 4px;
    color: #fff;
    padding: 16px 30px;
    border: 2px solid #e94d3a;
    transition: all ease-in-out 0.5s;

}
.hero_banner_btn.active {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    background: transparent;
    border-radius: 4px;
    color: rgb(88, 88, 88);
    padding: 16px 30px;
    border: 2px solid linear-gradient(135deg, #1633ff 0%, #ff007e 100%);
    margin-left: 10px;
    transition: all ease-in-out 0.5s;
}
.hero_banner_btn:hover {

    background-color: transparent;
    border: 2px solid #e94d3a;
    color: #999;

}
.hero_banner_indicators {
    bottom: -120px;
    right: auto;
    left: -165px;
}
.hero_banner_indicators li {
    width: 10px;
    height: 10px;
    background-color: rgba(107, 106, 106, 0.445);
    border-radius: 100%;
}
.hero_banner_indicators li.active {

    background-color: #e94d3a;

}
/* ===================================
    top option end
====================================== */
/* ===================================
   price section 
====================================== */
.margin_box {
    margin-bottom: 40px;
}
.hosting_plan_box {
    background-color: #fff;
    box-shadow: 0 0 15px 2px rgba(0,0,0,.07);
    border-radius: 0;
    padding: 50px 15px;
    transition: all ease-in-out 0.5s;
}
.hosting_plan_box:hover {
    transform: translateY(-10px);
}
.hosting_plan_name {
    font-size: 20px;
    line-height: 24px;
    color: #222;
    margin-bottom: 17px;
}
.hosting_plan_box_price {
    font-size: 48px;
    color: #ff007e;
    line-height: 52px;
    margin-bottom: 20px;
    position: relative;
}
.hosting_plan_box_price::before {
    position: absolute;
    content: "";
    background: url("../images/circle.png");
    width: 93px;
    height: 93px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -20px;
}
.discount_tag {
    font-size: 20px;
    line-height: 24px;
    color: #1633ff;
    margin-bottom: 30px;
}
.discount_tag span {
    font-size: 16px;
    line-height: 24px;
    color: #5a5f69;
}
.hosting_plan_listing {
    margin-bottom: 30px;
    margin-top: 30px;
}
.hosting_plan_listing li {
    font-size: 16px;
    line-height: 30px;
    color: #5a5f69;
}
a.learn-more {
    width: 220px;
    height: auto;
}
a.learn-more {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}
a.learn-more .circle {
    transition: all .7s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #1633ff;
    background: -moz-linear-gradient(-45deg, #1633ff 0%, #ff007e 100%);
    background: -webkit-linear-gradient(-45deg, #1633ff 0%, #ff007e 100%);
    background: linear-gradient(135deg, #1633ff 0%, #ff007e 100%);
    border-radius: 1.625rem;
}
a.learn-more .button-text {
    transition: all .7s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    text-align: center;
}
.hosting_plan_box p {
    font-size: 14px;
}
a.learn-more .circle .icon.arrow {
    transition: all .7s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
a.learn-more .circle .icon {
    transition: all .7s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
a.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: '';
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
a.learn-more:hover .circle {
    width: 100%;
}
.tag_line {
    position: relative;
}
.tag_line::before {
    position: absolute;
    content: "";
    background: url("../images/svg/smile_face.png");
    width: 25px;
    height: 24px;
    left: 27%;
    top: 0;
}
/* ===================================
   price section end
====================================== */
/* ===================================
   wey-cooch 
====================================== */
.wey-cooch{
    padding-bottom: 100px;
    padding-top: 100px;
    text-align: center !important;
    background-color: #f8f8f8;
}
.margin_bottom_50 {

    margin-bottom: 50px;

}
.section_heading h2 {

    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #3d302e;

}
.margin_bottom_10 {

    margin-bottom: 10px;

}
.why_choose_box:hover {
    background: #1633ff;
    background: -moz-linear-gradient(-45deg, #1633ff 0%, #ff007e 100%);
    background: -webkit-linear-gradient(-45deg, #1633ff 0%, #ff007e 100%);
    background: linear-gradient(135deg, #1633ff 0%, #ff007e 100%);
    border-bottom: 3px solid #c73b2a;
    transform: translateY(-10px);

}
.why_choose_box {

    background: #fff;
    border-bottom: 3px solid #dbdbdb;
    padding: 40px 60px;
    text-align: center;
    transition: all ease-in-out 0.5s;

}
.why_choose_box:hover .why_choose_img_box01 {

    background: url("../images/hover_why_choose_img01.png");
    width: 47px;
    height: 59px;
    margin: 0 auto;
        margin-bottom: 0px;
    margin-bottom: 20px;

}
.why_choose_img_box01 {

    background: url("../images/why_choose_img01.png");
    width: 47px;
    height: 59px;
    margin: 0 auto;
    margin-bottom: 20px;
    transition: all ease-in-out .5s;

}
.why_choose_box:hover h6 {

    color: #fff;

}
.why_choose_box h6 {

    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    transition: all ease-in-out .5s;

}
.why_choose_box:hover .why_choose_img_box02 {

    background: url("../images/hover_why_choose_img02.png");
    width: 60px;
    height: 60px;
    margin: 0 auto;
        margin-bottom: 0px;
    margin-bottom: 20px;

}
.why_choose_img_box02 {

    background: url("../images/why_choose_img02.png");
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 20px;
    transition: all ease-in-out .5s;

}
.why_choose_box:hover .why_choose_img_box03 {

    background: url("../images/hover_why_choose_img03.png");
    width: 68px;
    height: 60px;
    margin: 0 auto;
        margin-bottom: 0px;
    margin-bottom: 20px;

}
.why_choose_img_box03 {

    background: url("../images/why_choose_img03.png");
    width: 68px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 20px;
    transition: all ease-in-out .5s;

}
.why_choose_box:hover .why_choose_img_box04 {

    background: url("../images/hover_why_choose_img04.png");
    width: 60px;
    height: 60px;
    margin: 0 auto;
        margin-bottom: 0px;
    margin-bottom: 20px;

}
.why_choose_img_box04 {

    background: url("../images/why_choose_img04.png");
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 20px;
    transition: all ease-in-out .5s;

}
.why_choose_box:hover .why_choose_img_box05 {

    background: url("../images/hover_why_choose_img05.png");
    width: 57px;
    height: 60px;
    margin: 0 auto;
        margin-bottom: 0px;
    margin-bottom: 20px;

}
.why_choose_img_box05 {

    background: url("../images/why_choose_img05.png");
    width: 57px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 20px;
    transition: all ease-in-out .5s;

}
.why_choose_box:hover .why_choose_img_box06 {

    background: url("../images/hover_why_choose_img06.png");
    width: 60px;
    height: 60px;
    margin: 0 auto;
        margin-bottom: 0px;
    margin-bottom: 20px;

}
.why_choose_img_box06 {

    background: url("../images/why_choose_img06.png");
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 20px;
    transition: all ease-in-out .5s;

}
.why_choose_box:hover .why_choose_img_box07 {

    background: url("../images/hover_why_choose_img07.png");
    width: 60px;
    height: 56px;
    margin: 0 auto;
        margin-bottom: 0px;
    margin-bottom: 20px;

}
.why_choose_img_box07 {

    background: url("../images/why_choose_img07.png");
    width: 60px;
    height: 56px;
    margin: 0 auto;
    margin-bottom: 20px;
    transition: all ease-in-out .5s;

}
.why_choose_box:hover .why_choose_img_box08 {

    background: url("../images/hover_why_choose_img08.png");
    width: 60px;
    height: 57px;
    margin: 0 auto;
        margin-bottom: 0px;
    margin-bottom: 20px;

}
.why_choose_img_box08 {

    background: url("../images/why_choose_img08.png");
    width: 60px;
    height: 57px;
    margin: 0 auto;
    margin-bottom: 20px;
    transition: all ease-in-out .5s;

}
/* ===================================
   wey-cooch  end
====================================== */
/* ===================================
  domain name
====================================== */
.search_box {
    width: 100%;
    height: 80px;
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
}
.search_area {
    width: 100%;
    height: 100px;
    position: relative;
}
.search_box .text_field {
    width: 100%;
    font-size: 18px;
    line-height: 36px;
    height: 65%;
    padding: 0 30px;
    box-shadow: 0 0 30px 3px rgba(0,0,0,.07);
    border: 1px solid #f1f1f1;
    font-weight: 400;
    border-radius: 32px;
}
.search_area span.focus-border {
    position: absolute;
    right: 31px;
    top: 22px;
    z-index: 9;
    color: #fff;
    font-size: 16px;
}
.search_btn {
    position: absolute;
    right: 20px;
    top: 13px;
    width: 40px;
    height: 40px;
    font-size: 14px !important;
    font-weight: 700;
    color: #fff !important;
    transition-duration: 0.5s;
    line-height: 1;
    border: none;
    border-radius: 100%;
    background: #1633ff;
    background: -moz-linear-gradient(-45deg, #1633ff 0%, #ff007e 100%);
    background: -webkit-linear-gradient(-45deg, #1633ff 0%, #ff007e 100%);
    background: linear-gradient(135deg, #1633ff 0%, #ff007e 100%);
}
.domain_listing li {
    display: inline-block;
    text-align: center;
    background-color: #fff;
    width: 67px;
    height: 67px;
    border-radius: 100%;
    box-shadow: 0 0 30px 2px rgba(0,0,0,.07);
    padding: 9px;
    color: #222;
    margin: 0 10px;
}
.domain_listing li:hover {
    background: #1633ff;
    background: -moz-linear-gradient(-45deg, #1633ff 0%, #ff007e 100%);
    background: -webkit-linear-gradient(-45deg, #1633ff 0%, #ff007e 100%);
    background: linear-gradient(135deg, #1633ff 0%, #ff007e 100%);
    color: #fff;
}
.domain_listing li:hover {
    color: #fff;
}
.domain_listing li {
    text-align: center;
    color: #222;
}
/* ===================================
  domain name
====================================== */

/* ===================================
 service
====================================== */
.margin_box {
    margin-bottom: 40px;
}
.guarantee_box {
    background-color: #fff;
    padding: 50px 35px;
    box-shadow: 0 0 30px 2px rgba(0,0,0,.07);
    transition: all ease-in-out 0.5s;
}
.guarantee_box:hover {
    background: #1633ff;
    background: -moz-linear-gradient(-45deg, #1633ff 0%, #ff007e 100%);
    background: -webkit-linear-gradient(-45deg, #1633ff 0%, #ff007e 100%);
    background: linear-gradient(135deg, #1633ff 0%, #ff007e 100%);
}
.guarantee_img01 {
    background: url("../images/guarantee_img01.png") no-repeat center;
    width: 81px;
    height: 96px;
    margin: 0 auto;
        margin-bottom: 0px;
    margin-bottom: 30px;
}
.guarantee_box:hover .guarantee_img01 {
    background: url("../images/hover_guarantee_img01.png");
}
.guarantee_box:hover .guarantee_box_heading, .guarantee_box:hover p {
    color: #fff;
}
.guarantee_box_heading {
    font-size: 20px;
    line-height: 24px;
    color: #222;
}
.guarantee_box:hover p {
    color: #fff;
}
.guarantee_box p {
    font-size: 14px;
    line-height: 24px;
}
.guarantee_box:hover .guarantee_img02 {
    background: url("../images/hover_guarantee_img02.png");
}
.guarantee_img02 {
    background: url("../images/guarantee_img02.png") no-repeat center;
    width: 58px;
    height: 96px;
    margin: 0 auto;
    margin-bottom: 0px;
    margin-bottom: 30px;
}
.guarantee_box:hover .guarantee_img03 {
    background: url("../images/hover_guarantee_img03.png");
}
.guarantee_img03 {
    background: url("../images/guarantee_img03.png") no-repeat center;
    width: 104px;
    height: 76px;
    margin: 0 auto;
        margin-bottom: 0px;
    margin-bottom: 30px;
}
.guarantee_box:hover .guarantee_img04 {
    background: url("../images/hover_guarantee_img04.png");
}
.guarantee_img04 {
    background: url("../images/guarantee_img04.png") no-repeat center;
    width: 97px;
    height: 96px;
    margin: 0 auto;
        margin-bottom: 0px;
    margin-bottom: 30px;
}
/* ===================================
 service end
====================================== */
/* ===================================
feature
====================================== */
.hosting_feature_row {
    position: relative;
}
.hosting_feature_row::before {
    position: absolute;
    content: "";
    background: url("../images/circle_img.png");
    width: 20px;
    height: 20px;
    right: 49.2%;
    top: -20px;
}
.hosting_feature_row::after {
    position: absolute;
    content: "";
    background: url("../images/circle_img.png");
    width: 20px;
    height: 20px;
    right: 49.2%;
    bottom: -20px;
}
.outer_featured_box {
    position: relative;
}
.outer_featured_box::before {
    position: absolute;
    content: "";
    background-color: #ff007e;
    width: 2px;
    height: 100%;
    right: 0;
    top: 0;
}
no_padding {
    padding: 0;
}
.margin_box {
    margin-bottom: 40px;
}
.padding_top_50 {
    padding-top: 50px;
}
.featured_box:hover {
    background: #1633ff;
    background: -moz-linear-gradient(-45deg, #1633ff 0%, #ff007e 100%);
    background: -webkit-linear-gradient(-45deg, #1633ff 0%, #ff007e 100%);
    background: linear-gradient(135deg, #1633ff 0%, #ff007e 100%);
}
.featured_box {
    background-color: #fff;
    box-shadow: 0 0 30px 2px rgba(0,0,0,.07);
    padding: 40px;
    text-align: right;
}
.featured_box:hover .featured_box_heading, .featured_box:hover p {
    color: #fff;
}
.featured_box_heading {
    font-size: 20px;
    line-height: 24px;
    color: #222;
    margin-bottom: 20px;
}
.featured_box:hover p {
    color: #fff;
}
.featured_box_img {
    width: 81px;
    height: 81px;
    border-radius: 100%;
    background: #1633ff;
    background: -moz-linear-gradient(-45deg, #1633ff 0%, #ff007e 100%);
    background: -webkit-linear-gradient(-45deg, #1633ff 0%, #ff007e 100%);
    background: linear-gradient(135deg, #1633ff 0%, #ff007e 100%);
    margin: 0 auto;
    display: table;
    position: relative
}
.featured_box_img::before {
    position: absolute;
    content: "";
    background-color: #1633ff;
    width: 30px;
    height: 2px;
    left: -30px;
    top: 50%;
}

.featured_box_img figure, .feature_box_img figure {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
figure {
    margin: 0;
}
.featured_box_img::after {
    position: absolute;
    content: "";
    background-color: #ff007e;
    width: 30px;
    height: 2px;
    right: -30px;
    top: 50%;
}
.margin_box {
    margin-bottom: 40px;
}
.margin_box {
    margin-bottom: 40px;
}
.padding_top_130 {
    padding-top: 130px;
}
/* ===================================
feature end
====================================== */
/* ===================================
blog
====================================== */
.latest_post_content{background-color: #fff; padding: 43px 60px}
.content_blog_post_box{background-color: #fff; padding: 37px}
.inner_blog_post_box figure img{width: 100%; height: auto}
.inner_blog_post_box{padding-right: 0}
.outer_content_blog_post_box{padding-left: 0; background-color: #fff}
.featured_post_tag{background: url("../images/feature_post_bg.png") no-repeat center; width: 150px; height: 40px}
.first_blog_post_img_box{position: relative}
.featured_post_tag{position: absolute; bottom: 10px; color: #fff; padding: 9px 15px}
.line_height_36 {
    line-height: 36px;
}
.font_size_16 {
    font-size: 16px;
}
.color_ff007e {
    color: #ff007e;
}
.margin_bottom_15 {
    margin-bottom: 15px;
}
.line_height_30 {
    line-height: 30px;
}
.font_size_20 {
    font-size: 20px;
}
.margin_bottom_40 {
    margin-bottom: 40px;
}
.margin_bottom_35 {
    margin-bottom: 35px;
}
/* ------------------------------*/
.client_img_box figure img:hover {

    opacity: 1;
    filter: none;

}
.client_img_box figure img {

    filter: grayscale(100%);
    opacity: .50;
    transition: all ease-in-out 0.5s;

}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 24px;
	right: 3%;
	overflow: hidden;
	z-index: 999;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/move-top.png) no-repeat 0px 0px;
}

#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/* ===================================
footer
====================================== */
.footer_logo {
    width: 120px;
}
.margin_bottom_20 {
    margin-bottom: 20px;
}
.line_height_18 {
    line-height: 18px;
}
.font_size_12 {
    font-size: 12px;
}
.color_5a5f69 {
    color: #5a5f69;
}
.margin_bottom_10 {
    margin-bottom: 10px;
}
.color_5a5f69 {
    color: #5a5f69;
}
.footer_social_links li:first-child {
    padding-left: 0;
}
.footer_social_links li {
    display: inline-block;
    padding: 0 3px;
        padding-left: 3px;
}
.footer_social_links li a:hover {
    background: #fff;
    box-shadow: 0 0 30px 7px rgba(0,0,0,.07);
}
.footer_social_links li a {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: table;
    background: #1633ff;
    background: -moz-linear-gradient(-45deg, #1633ff 0%, #ff007e 100%);
    background: -webkit-linear-gradient(-45deg, #1633ff 0%, #ff007e 100%);
    background: linear-gradient(135deg, #1633ff 0%, #ff007e 100%);
}
.footer_social_links li a:hover i {
    color: #5a5f69;
}
.footer_social_links li a i {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-size: 16px;
    transition-duration: .5s;
}
.footer_heading {
    font-size: 18px;
    line-height: 24px;
    color: #222;
    margin-bottom: 30px;
}
.footer_links li a {
    font-size: 14px;
    line-height: 28px;
    color: #5a5f69;
}
/* ===================================
footer end
====================================== */
@media only screen and (max-width: 1199px){
    .top_navigation .navbar-nav li a{margin: 0 5px}
    .top_navigation{padding: 10px 15px}
    .right_nav_links li{padding: 0 5px}
    .padding_top_200{padding-top: 150px}
    .tag_line:before{left: 22%}
    .company_box01, .company_box02,.company_box03{width: 140px; height: 140px}
    .domain_listing li{width: 60px; height: 60px; margin: 0 6px}
    .featured_box{padding: 20px}
    .featured_box_img:before{width: 20px; left: -20px}
    .featured_box_img:after{width: 19px; right: -19px}
    .content_blog_post_box{padding: 22px}
    .margin_bottom_50{margin-bottom: 45px}
    br{display: none}
    .banner_listing li, .hosting_feature_listing li{font-size: 14px; padding-left: 26px}
    .banner_listing li:before{top: 6px;}
    .hosting_feature_heading{font-size: 18px}
    .margin_bottom_15{margin-bottom: 10px}
    .margin_bottom_20{margin-bottom: 5px}
    .team_member_box{padding: 40px 15px}
    .contact_box{width: 140px; height: 140px}
    .last_box:before{left: -145px}
    .first_box:after{right: -115px}
    .latest_post_content{padding: 25px 30px}
    .font_size_16{font-size: 14px}
    .domain_listing{text-align: center}
    .default_mega_menu{left: 0; width: 1020px}
    .mega_menu_02{left: -155px; width: 930px !important;}
    .mega_menu_header02{left: -455px }
    .header03_contact_info li{padding: 0 20px}
    .header03_contact_info li:nth-child(1):before, .header03_contact_info li:nth-child(2):before{display: none}
    .guarantee_box{padding: 35px}
    .coa_block p{font-size: 16px}
    #accordion .card-header button[aria-expanded="false"]:before{top: 0}
    #accordion .card-header button[aria-expanded="true"]:before{top: 0}
    .table_comparing_price_plan thead th, .table_comparing_price_plan tbody td{padding: 15px 10px}
    .inner_btn_dedicated_plan_box{width: 190px}
    .dedicated_plan_listing{padding: 20px 0}
    .footer_social_links{margin-top: 15px}
    .sub_banner_img_margin{margin-top: 60px}
    .slider_detail{padding: 30px !important;}
    .padding_bottom_50{padding-bottom: 40px}
    .domain_sub_page_img figure{width: 80%; margin: 0 auto}
    .sub_page_banner_img figure{width: 80%; margin: 0 auto}
    .sub_page_banner_content_box{padding-top: 30px}
    .inner_sub_page_banner_content_box{margin-bottom: 15px}
    .contact_box{padding: 32px 0}
    .contact_box_name{margin-top: 5px}
    .contact_us_box{min-height: 236px; padding: 65px 25px}
    a.learn-more, .hosting_plan_box.active a.learn-more, .domain_offer_box.active a.learn-more{width: 195px}
    .dedicated_banner_content_box{padding-top: 160px}


}
@media only screen and (max-width: 991px) {
    .navbar-toggler-icon{background: url("../images/mobile_toogle_button.svg")}
    .padding_top_200, .padding_top_100{padding-top: 100px}
    .font_size_48{font-size: 32px}
    .line_height_60{line-height: 44px}
    .margin_bottom_50{margin-bottom: 25px}
    br{display: none}
    .hosting_plan_box{padding: 30px 15px}
    .hosting_plan_listing li{font-size: 14px; line-height: 24px}
    a.learn-more, .hosting_plan_box.active a.learn-more, .domain_offer_box.active a.learn-more{width: 175px}
    .tag_line:before{left: 12%}
    .company_box01, .company_box02, .company_box03{width: 110px; height: 110px}
    .company_detail_heading{font-size: 16px}
    .margin_bottom_40{margin-bottom: 20px}
    .guarantee_box{padding: 0 15px 15px}
    body{font-size: 14px; line-height: 20px}
    .font_size_36{font-size: 28px}
    .line_height_48{line-height: 34px}
    .featured_box_img:before{width: 5px; left: -5px}
    .featured_box_img:after{width: 4px; right: -4px}
    .featured_box_heading{font-size: 16px; line-height: 20px; margin-bottom: 10px}
    .testimonial_indicators li{margin: 0 10px}
    .first_blog_post figure img{width: 100%}
    .margin_bottom_box{margin-bottom: 20px}
    .center_box:after, .first_box:before{width: 80px; right: -80px}
    .center_box:before, .last_box:after{width: 80px; left: -80px}
    .first_box:after{right: -80px}
    .last_box:before{left: -100px}
    .feature_heading{font-size: 16px}
    .btn-link{white-space: normal}
    .banner_listing li, .hosting_feature_listing li{line-height: 26px}
    .banner_listing li{padding-left: 35px}
    .banner_listing li:before{top: 0}
    .custom_box{margin-bottom: 50px}
    .margin_bottom_20{margin-bottom: 10px}
    .feature_margin_bottom{margin-bottom: 50px}
    .feature_box_space{padding-top: 30px}
    .software_box{padding: 20px 0}
    .domain_offer_box{padding: 15px}
    .hero_banner_img{padding-bottom: 50px}
    .team_members_listing li{padding: 15px 3px 0}
    .about_hosting_box_img{top: -60px}
    .about_hosting_box{padding: 70px 20px 40px}
    .contact_box{width: 110px; height: 110px; padding: 25px 0}
    .contact_box_name{font-size: 14px}
    .contact_us_box{padding: 30px 0; min-height: 150px}
    .first_blog_post{margin-bottom: 20px}
    .content_blog_post_box{padding: 53px}
    .w_40{width: 31%}
    .w_60{width: 69%}
    .empty_column{display: none}
    .right_nav_links{display: none}
    .top_navigation .navbar-nav li:first-child a{margin-left: 5px}
    .navbar-nav .hosting_dropdown{float: left}
    .price_rangetxt div.icon{width: 60px !important; height: 60px !important;}
    .price_rangetxt div.icon span{font-size: 12px !important;}
    .vps_slider_listing li{padding: 25px 10px 0 !important;}
    .navbar-toggler:focus{outline: none; border: none}
    .mobile_navbar{position: absolute; width: 30%; right: 0; background-color: #fff; top: 100%; z-index: 9}
    .top_navigation{background-color: #fff}
    .navigation_bar{padding: 10px 0; margin: 0}
    .top_navigation .navbar-nav li a{margin: 0; padding: 8px 15px; position: relative}
    .dropdown-toggle::after{position: absolute; right: 30px; top: 10px}
    .top_navigation .navbar-nav li:first-child a{margin-left: 0}
    .outer_mega_menu{display: none}
    .navbar-nav .dropdown-menu{box-shadow: none; background-color: rgba(255,0,126,.20); border-radius: 0 !important;}
    .dd_bg_01, .dd_bg_02, .dd_bg_03, .dd_bg_04{background: none}
    .hosting_dropdown{border: none}
    .menu_content{width: 100%; margin-left: 0; font-size: 0; line-height: 0}
    .hosting_dropdown a span{font-size: 14px; line-height: 14px; }
    .hosting_dropdown a.dropdown-item{padding: 10px 15px !important;}
    .header01_top_bar_content, .header01_top_bar_btn .btn_contact_us{display: none}
    a.navbar-brand.header01_logo{padding: 15px;}
    .header01_top_bar{padding: 0}
    .header01_navigation{bottom: 0; position: relative}
    .outer_header01_logo{text-align: left}
    .header02_mobile_toggle{position: absolute; top: 5px; right: 5px}
    .hide_on_mobile{display: none}
    .outer_header01_navbar{position: absolute; top: 100%; right: 0; width: 30%; background: #fff; z-index: 9; padding: 10px 0}
    .header01_navbar li a{padding: 10px 20px !important;}
    .header01_navbar li:first-child > a{padding-left: 20px !important;}
    .outer_header01_logo{border-right: none}
    .header_02_logo, .header03_contact_info, .office_timing, .header04_social_links{display: none}
    .header03_mobile_toggle{position: relative; right: -15px}
    .header02_mobile_logo{display: block}
    .navigation{position: absolute; top: 100%; right: 0; width: 30%; background-color: #fff; z-index: 9; padding: 10px 0}
    .mobile_row{margin: 0}
    .menubar_header_03{float: left !important; width: 100%}
    .header04_toggle{position: absolute; right: 30px; top: 0; z-index: 9}
    .padding_bottom_20{padding-bottom: 5px}
    .padding_top_20{padding-top: 5px}
    .header03_outer{top: 44px}
    .navigation .menubar_header03 li > a:first-child{padding-left: 20px !important;}
    .navigation .menubar_header03 li a{padding: 10px 20px !important; text-transform: capitalize}
    .header04_navigation{background: #fff}
    .header05_toggle{position: absolute; right: 0; top: -45px}
    .header04_navbar li a{color: #333 !important;}
    .mobile_footer05{text-align: center}
    .dropdown .hosting_dropdown{width: 100%}
    .navigation .menubar_header03 li a{color: #5a5f69 !important;}
    .mobile_banner_margin{padding-top: 50px}
    .guarantee_img02, .guarantee_img01, .guarantee_img03, .guarantee_img04{background-size: 65%; margin-bottom: 10px}
    .domain_listing li{margin: 0 8px}
    .search_box .text_field{font-size: 16px}
    .hosting_feature_row:before, .hosting_feature_row:after{right: 48.7%}
    .client_name{padding: 20px 0}
    figure.footer_logo{margin-bottom: 15px}
    .footer_social_links{margin-top: 15px}
    .footer_social_links li a i{font-size: 14px}
    .font_size_18{font-size: 16px}
    .line_height_30{line-height: 24px}
    .sub_page_banner h1{padding-bottom: 10px}
    .starting_price{font-size: 18px}
    .starting_price:before{left: 100px}
    .sub_page_banner div.padding_top_200{padding-top: 50px}
    a.learn-more .circle, .hosting_plan_box.active a.learn-more .circle, .domain_offer_box.active a.learn-more .circle{width: 2.5rem; height: 2.5rem}
    a.learn-more .button-text, .hosting_plan_box.active a.learn-more .button-text, .domain_offer_box.active a.learn-more .button-text{padding: 0.65rem 0}
    .margin_bottom_30{margin-bottom: 10px}
    .tablet_box{max-width: 46%; margin: 0 2%}
    .tablet_margin{margin-bottom: 30px}
    .feature_heading{margin-bottom: 10px}
    .guarantee_box p{line-height: 20px}
    .guarantee_box_heading{margin-bottom: 10px}
    .coa_block h2{margin-bottom: 10px}
    .padding_bottom_60{padding-bottom: 40px}
    .padding_top_60{padding-top: 40px}
    .padding_bottom_100{padding-bottom: 70px}
    .table_comparing_price_plan thead tr th{font-size: 18px; line-height: 24px}
    .txt-l{font-size: 30px; line-height: 30px}
    .heading_pricing_plan{font-size: 20px !important;}
    .hosting_feature_listing{display: none}
    .custom_box, .margin_bottom_70{margin-bottom: 30px}
    .reseller_banner_img figure{width: 100%; height: auto; margin-top: 60px}
    .dedicated_why_choose_img figure{width: 175px}
    .vps_page_banner_responsive {padding-top: 70px}
    .slider_nodes li{padding: 0 16px}
    .why_choose_heading{font-size: 18px}
    .guarantee_box_heading{font-size: 16px}
    a.learn-more .circle .icon.arrow::before{right: 0.225rem}
    a.learn-more:hover .circle .icon.arrow:before{right: .0625rem}
    .sub_page_content_box{padding-top: 50px}
    .domain_tlds_img{margin-bottom: 50px}
    .domain_tlds_img figure{width: 65%; margin: 0 auto}
    .sub_page_banner_content_box{padding-top: 0}
    .inner_sub_page_banner_content_box{font-weight: 600; margin-bottom: 20px}
    .inner_sub_page_banner_content_box01{margin-bottom: 10px}
    .team_member_box{padding: 20px 15px}
    .team_member_name{font-size: 18px}
    .contact_page_banner_content_box{padding-top: 0}
    .hosting_plan_box.active a.learn-more .circle .icon.arrow::before, .domain_offer_box.active a.learn-more .circle .icon.arrow::before{right: 0.225rem}
    .hosting_plan_box.active a.learn-more:hover .circle .icon.arrow:before, .domain_offer_box.active a.learn-more:hover .circle .icon.arrow:before{right: .0625rem}
    .margin_bottom_80{margin-bottom: 40px}
    .search_domain_img figure{width: 100%; margin-top: 60px}
    .hide_colum{display: none}
    .partner_img{width: 80%; margin: 0 auto}
    .carousel-control-next, .carousel-control-prev{bottom: -65px}
    .inner_blog_post_box figure img{min-height: 184px}
    .content_blog_post_box{padding: 15px}
    .margin_bottom_35{margin-bottom: 15px}
    .margin_bottom_10{margin-bottom: 0}
    .content_blog_post_box p {font-size: 14px; line-height: 20px}
    .guarantee_box p{font-size: 12px; line-height: 18px}
    .why_choose_content_box{padding-left: 40px}
    .reseller_hosting_feature_img figure{margin: 0 auto}
    .team_members_listing li a{width: 35px; height: 35px}
    .team_members_listing li a i{font-size: 16px}
    .guarantee_box:hover .guarantee_img01, .guarantee_box:hover .guarantee_img02, .guarantee_box:hover .guarantee_img03, .guarantee_box:hover .guarantee_img04{background-size: 65%; background-repeat: no-repeat; background-position: center}
}
@media only screen and (max-width: 767px){
    .padding_top_60{padding-top: 30px}
    .padding_bottom_60{padding-bottom: 30px}
    .font_size_48{font-size: 24px}
    .font_size_18{font-size: 14px}
    .line_height_60{line-height: 28px}
    .line_height_30{line-height: 24px}
    .margin_bottom_30{margin-bottom: 10px}
    .margin_box{margin-bottom: 20px}
    .tag_line:before{display: none}
    .font_size_36{font-size: 24px}
    .line_height_48{line-height: 30px}
    .company_box01, .company_box02, .company_box03{width: 100px; height: 100px}
    .padding_bottom_100{padding-bottom: 50px}
    .padding_top_170{padding-top: 0}
    .margin_bottom_60{margin-bottom: 40px}
    .order_1{order: 1}
    .order_2{order: 2}
    .search_domain_section h2, .search_domain_section p{text-align: center}
    .hosting_feature_row:before, .hosting_feature_row:after,.outer_featured_box:before, .featured_box_img:before, .featured_box_img:after{display: none}
    .padding_top_50{padding-top: 0}
    .padding_top_130{padding-top: 50px}
    .featured_box{text-align: center !important; margin: 0 25px; border-radius: 6px}
    .latest_post_content{padding: 5px 15px 15px}
    .w_40, .w_60{width: 100%}
    .w_40 img{width: 100%}
    .testimonial_indicators, .disable_links{display: none}
    .carousel-item{padding-top: 0}
    .full_width{text-align: center}
    #accordion .card-header button[aria-expanded="false"]:before{padding: 10px; left: -30px; font-size: 16px; top: 0}
    #accordion .card-header button[aria-expanded="true"]:before{padding: 10px; left: -30px; font-size: 16px; top: 0}
    .center_box:after, .first_box:before,.first_box:after, .center_box:before, .last_box:after, .last_box:before{display: none}
    .heading_pricing_plan{font-size: 18px !important;}
    .table_comparing_price_plan tbody tr td:first-child{font-size: 14px}
    button:focus{outline: none}
    .about_hosting_box_img{top: -55px}
    .about_hosting_box{padding: 120px 20px 20px}
    .padding_top_70{padding-top: 30px}
    .tag_line{margin-top: 20px}
    .margin_bottom_80{margin-bottom: 30px}
    .domain_listing{text-align: center}
    .footer_logo, .designed_by{margin-bottom: 20px}
    .vps_slider_listing li{padding: 5px 5px 0 !important;}
    .value_text{font-size: 14px; line-height: 18px !important;}
    .value_text .value{font-size: 18px !important;}
    .slider_detail{float: left !important;}
    .dd_bg_01, .dd_bg_02, .dd_bg_03, .dd_bg_04{background: none}
    .menu_content{width: 100%; margin-left: 0; font-size: 0}
    .dropdown .hosting_dropdown{width: 100%}
    .hosting_dropdown a.dropdown-item{padding: 5px 15px !important;}
    .menu_content span{font-size: 14px}
    .mobile_navbar, .outer_header01_navbar, .navigation{width: 50%}
    .footer01_links_mobile{display: none}
    .mobile_box{text-align: center}
    .footer01_links_border{padding-bottom: 0}
    .carousel-control-next, .carousel-control-prev{bottom: -50px}
    .mobile_center{text-align: center !important;}
    .footer03_social_links{float: none; text-align: center}
    .email_submit_btn{top: 33px}
    .header_02_top_bar{display: none}
    .header_02_top_navigation{border-top: none; margin-top: 0}
    .header_02{padding: 10px 0}
    .order02{order: 2}
    .order01{order: 1}
    .mobile_text_center{text-align: center !important;}
    .mobile_img figure img{width: 80%}
    .mobile_img figure{text-align: center}
    .padding_top_200, .padding_top_100{padding-top: 50px}
    .hero_banner_img{padding-bottom: 50px}
    .discount_tag span{font-size: 14px}
    .discount_tag{padding: 0 50px}
    .welcome_section_img figure img{width: 80% !important; height: auto !important;}
    .company_detail_heading{font-size: 14px}
    .mobile_center_img figure img{width: 80%}
    .mobile_center_img figure {text-align: center}
    .mobile_hide{display: none}
    .font_size_20{font-size: 16px}
    .margin_top_50{margin-top: 35px}
    .testimonial_box_content{padding: 0 20px}
    .coa_block h2{font-size: 20px}
    .coa_block{padding: 40px 15px; margin: 0 10px}
    .margin_bottom_10{margin-bottom: 5px}
    .hosting_plan_box{margin:  0 30px}
    .mobile_margin_box{margin-bottom: 20px !important;}
    .feature_box{padding: 0 30px}
    .guarantee_box{padding: 5px 30px 20px; margin: 0 30px}
    .guarantee_box_heading{margin-bottom: 10px}
    #accordion .card-header button[aria-expanded="true"]:before{line-height: .7}
    #accordion .card-header button[aria-expanded="false"]:before{line-height: .7}
    .btn{text-align: left}
    .mobile_padding_faq{padding: 0 25px}
    .tablet_box{max-width: 100%}
    .reseller_hosting_feature_img figure{margin: 0 auto}
    .banner_listing li{padding-left: 55px; text-align: left}
    .banner_listing li:before{left: 20px}
    .table_comparing_price_plan tbody tr td:first-child{width: 50% !important;}
    .first_heading_pricing_plan{font-size: 16px !important;}
    .reseller_banner_img figure{width: 80%; margin: 0 auto}
    .banner_listing li, .hosting_feature_listing li{font-size: 14px; line-height: 18px}
    .mobile_small_box{padding: 0 30px}
    .dedicated_why_choose_img figure{margin: 0 auto}
    .slider_nodes li{padding: 0 15px}
    .slider_detail{padding: 30px 15px !important;}
    .price_txt{min-width: 120px !important;}
    .vps_feature_box{padding: 0 30px}
    .guarantee_img02, .guarantee_img01, .guarantee_img03, .guarantee_img04{margin-bottom: 0}
    .btn-link{font-size: 16px; line-height: 20px}
    .padding_top_30{padding-top: 0}
    .about_hosting_box{padding: 60px 20px 20px}
    .mobile_margin_bottom{margin-bottom: 50px}
    .help_section_img{margin-bottom: 30px}
    .help_section_img figure{width: 80%; margin: 0 auto}
    .team_member_box{margin: 0 30px; padding: 20px}
    .contact_page_img figure{width: 80%; margin: 0 auto}
    .contact_us_box{margin: 0 30px; min-height: auto; padding: 30px 25px}
    .contact_box{width: 100px; height: 100px; padding: 17px 0}
    .footer_logo{margin: 0 auto}
    .guarantee_box:hover .guarantee_img01, .guarantee_box:hover .guarantee_img02, .guarantee_box:hover .guarantee_img03, .guarantee_box:hover .guarantee_img04{background-size: 65%; background-repeat: no-repeat; background-position: center}
    .featured_post_tag{background-position: left; background-size: 85%}
    .coa_block p{font-size: 14px}
    .banner_listing li:before{background-size: 80%; background-repeat: no-repeat}
    .reseller_mobile_sapce{padding-top: 0}
    .technical_list li{margin-bottom: 7px}
    .technical_list li:last-child{margin-bottom: 0}
    .content_blog_post_box{padding: 13px 15px}
}
@media only screen and (max-width: 480px){
    .font_size_36{font-size: 20px}
}
